{% extends "base.html" %}

{% block title %}
Main page
{% endblock %}


{% block content %}

<main>
    <section>
        <div class="container">
            <div class="header-title-name">

                <h1>АстрАрхив</h1>
                <p>Место сохранности истории и культуры нашего города. Присоединяйся и улучшай свою Родину.</p>
            
            </div>
        </div>
        <img src="../static/doc/asss.jpg" alt="">
    </section>

    <section class="text-block">
        <div class="container">
            <div class="header-title-name">

                <h1>О проекте</h1>
                <p>Цель проекта - создание веб-сервиса, на котором хранились бы все записи гос. Архива Астраханской области в электронном виде. Основной причиной создание проекта, стала неэфективное и сложное хранение писменных записей.</p>
            
            </div>

            <div class="inner-block">
                <p>Государственное казённое учреждение Астраханской области <strong>«Государственный архив Астраханской области»</strong> - это место, с которым мы работаем. </p>
                <!-- Там и хранятся эксклюзивные, редкие, а так же современные произведения, котоыре так или иначе связаны с нашим городом. -->

                <img src="../static/doc/Simv.jpg" alt="">
            </div>

            <div class="inner-block">
                <img src="../static/doc/SIM-2.png" alt="">

                <p>Разработчики - студенты <strong> Астраханского Государственного Технического Университета</strong>, отделения ФСПО, 3 курса.</p>
                <!-- специальности сетевое и системное администрирование. Мы учердно работаем и дорабатываем наш проект. -->
            </div>

        </div>
    </section>


</main>








{% endblock %}